@import "utils";

body {
  background-color: $background-page;
}

div {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.calendar {
  @include border-for-calendar;
  @extend %flex-inline-style;
}

.group {
  div {
    @include cell-property($width-cell,$height-cell,$background-cell);
    bottom: 0;
    border: $border-hickness-cell solid $border-color-cell;
    font-size: $font-size-text;
    text-align: center;
    line-height: $height-cell;
    margin: margins(0,1,1);
    @include cell-hover(background-color,bottom);
  }
}

.calendar-31 {
  display: display_property($number-calendar-day);
}
