$background-page: #eee;
$background-cell: #eee;
$background-cell-hover: pink;

$upper-cell-hover: 20px;

$border-color-cell: black;
$border-color-calendar: black;
$border-hickness-calendar: 8px;
$border-hickness-cell: 1px;
$border-hickness-calendar: 4px;

$border-radius-calendar: 8px;
$font-size-text: 30px;
$width-cell: 100px;
$height-cell: 100px;
